@import 'normalize.css';


body{
    overflow-x: hidden;
    height: 100vh;
    --background-color: #EDDDC8;
}

main{
    height: 100%;
    margin: 0;
}

section{
    width: 100%;
    height: 100%;
    margin:0;
    background-color: var(--background-color);
}

#introduction{
    text-align: center;
    font-size:2em;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#general-info {
    width: 100%;
    position: relative; /* Change to fixed for pinning */
    top: 0; /* Ensure it stays at the top of the viewport */
    left: 0;
    height: 100vh; /* Full viewport height */
    display: flex; /* Ensure proper layout for child elements */
    justify-content: center;
    align-items: center;
}

#general-info .card {
    position: absolute; /* Ensure cards can move independently */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%; /* Adjust width for better layout */
    height: 80%; /* Adjust height for better layout */
    background-color: var(--background-color);
}

em{
    font-style: normal;
    font-weight: bold;
    font-size: 1.5em;
}

#map{
    background-color: red;
}